@{
    ViewBag.Title = "title";
    Layout = "_LayoutGlobalProject";
    List<TypeIndicateur> liste = ViewData["listeindicateur"] as List<TypeIndicateur>;
    int idoccurenceactivite = ViewBag.idoccurenceactivite;
}

<div class="container mt-5">
    <h3>Insertion Indicateur</h3>
    <br>
    <form action="/IndicateurActivite/Create">
        <input type="hidden" name="idoccurenceactivite" value="@idoccurenceactivite">

        <div class="form-group">
            <label for="idindicateur">Sélectionnez un indicateur</label>
            <select class="form-control" id="idindicateur" name="idindicateur">
                @foreach (var v in liste)
                {
                    <option value="@v.Id">@v.Nom</option>
                }
            </select>
        </div>

        <div class="form-group">
            <label for="target">Target</label>
            <input type="text" class="form-control" id="target" name="target" placeholder="Target">
        </div>

        <button type="submit" class="btn btn-primary">Ajouter Indicateur</button>
    </form>
</div>
