@{
    ViewBag.Title = "title";
    Layout = "_LayoutGlobalProject";
    List<TechnicienProjet> listetech = ViewData["listetech"] as List<TechnicienProjet>;
    int idoccurenceactivite = ViewBag.idoccurenceactivite;
}

<h2>Liste des Techniciens</h2>

<br>

<table class="table">
    <thead>
    <tr>
        <th>Technicien</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
        @foreach (var v in listetech)
        {
            <tr>
                <td>@v.Technicien.Email</td>
                <td>
                    <form action="/ActiviteSourceTechnicien/ListeRapportTech">
                        <input type="hidden" name="idoccurenceactivite" value="@idoccurenceactivite">
                        <input type="hidden" name="idtechnicien" value="@v.IdTechnicien">
                        <input type="submit" value="liste rapport">
                    </form>
                </td>
            </tr>   
        }
    </tbody>
</table>