@{
    ViewBag.Title = "title";
    Layout = "_LayoutGlobalProject";
    int idtechnicien = ViewBag.idtechnicien;
    List<OccurenceActiviteSource> liste = ViewData["listesource"] as List<OccurenceActiviteSource>;
    int idoccurenceactivite = ViewBag.idoccurenceactivite;
}

<h3>Choisir Source de Verification</h3>

<br>
<form method="post" action="/ActiviteSourceTechnicien/Create">
    <input type="hidden" name="idtechnicien" value="@idtechnicien">
    <input type="hidden" name="idoccurenceactivite" value="@idoccurenceactivite">
    <select name="idsource" id="idsource">
        @foreach (var v in liste)
        {
            <option value="@v.IdSource">@v.SourceDeVerification.Nom</option>   
        }
    </select>
    <br>
    <input type="date" name="dateaction">
    <br>
    <input type="text" name="lienfichier" placeholder="Lien Fichier">
    <br>
    <input type="submit" value="Inserer">
</form>
