@using Newtonsoft.Json
@{
    ViewBag.Title = "title";
    Layout = "_LayoutGlobalProject";
    ArgentOccurenceActivite p = ViewData["argent"] as ArgentOccurenceActivite;
}

<br>

<div class="col-lg-6">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Tableau de Bord Budgetaire</h5>

            <!-- Pie Chart -->
            <canvas id="pieChart" style="max-height: 400px;"></canvas>
            <script>
                document.addEventListener("DOMContentLoaded", () => {
                  new Chart(document.querySelector('#pieChart'), {
                    type: 'pie',
                    data: {
                      labels: [
                        'Depense',
                        'Reste'
                      ],
                      datasets: [{
                        label: '%',
                        data: [@p.Depense, @p.Reste],
                        backgroundColor: [
                          'rgb(0, 128, 0)',
                          'rgb(54, 162, 235)'
                        ],
                        hoverOffset: 4
                      }]
                    }
                  });
                });
              </script>
            <!-- End Pie CHart -->

        </div>
    </div>
</div>